@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import "tailwindcss";

:root {
  --background: #f8e9ec;
  --foreground: #4a5565;
  --primary: #ff2056;
  --font-caveat: 'Caveat', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-caveat: var(--font-caveat);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}


/* waves */
.box {
  --mask:
    radial-gradient(31.95px at 50% 38.75px, #000 99%, #0000 101%) calc(50% - 62px) 0/124px 100%,
    radial-gradient(31.95px at 50% -7.75px, #0000 99%, #000 101%) 50% 31px/124px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.box-top {
  --mask:
    radial-gradient(31.95px at 50% calc(100% - 38.75px), #000 99%, #0000 101%) calc(50% - 62px) 0/124px 100%,
    radial-gradient(31.95px at 50% calc(100% + 7.75px), #0000 99%, #000 100%) 50% calc(100% - 31px)/124px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


.heart {
  height: 130px;
  /* adjust to control the size */
  aspect-ratio: 1;
  --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

/* fallback until better support for mask-border */
@supports not (-webkit-mask-box-image: var(--_m)) {
  .heart {
    mask:
      radial-gradient(at 70% 31%, #000 29%, #0000 30%),
      radial-gradient(at 30% 31%, #000 29%, #0000 30%),
      conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
  }
}

/* Heart cards */
.heart-card {
  cursor: pointer;
}

.heart-card-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: bottom 0.6s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-card.tapped .heart-card-cover {
  bottom: -100%;
}

::-webkit-scrollbar {
  display: none;
}

/* Message card */
.card {
  cursor: pointer;
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-out;
  background: url('/images/cover.webp') no-repeat center ;
  background-color: #fbd7c5;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.tapped .cover {
  left: -100%;
}